<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @sprint.name %>
</p>

<p>
  <strong>Sprint Category:</strong>
  <%= @sprint.sprintcategory %>
</p>

<p>
  <strong>Active:</strong>
  <%= @sprint.active %>
</p>

<%= link_to 'Edit', edit_sprint_path(@sprint) %> |
<%= link_to 'Back', sprints_path %>
