<div class="container">
		<h1>Reporte Hacker</h1>
	<table class="table table-condensed">
			<tr>
			<%dateURL = Date.strptime(params[:day],"%Y-%m-%d") %>
			<% @hackers = Hacker.where("datefrom <= ? ", dateURL).where("dateto >= ?", dateURL) %>
		    <% @hackers.each do |hacker| %>
	        		<td>
	        			<%= hacker.name %>
	        			<br>
	        			<div class="dropdown">
	        			<select id="bpList<%= hacker.id %>" class="form-control bpList<%= hacker.id %>">
	        				<option value="">Cliente:</option>
	        				<% @bps = BusinessPartner.all%>
	        				<% @bps.each do |bp| %>
	        					<option value="<%=bp.id%>"><%=bp.name%></option>

	        				<% end %>
	        			</select>
	        			<br>
	        			<select id="projectList<%= hacker.id %>" class="form-control projectList<%= hacker.id %>">
	        				<option value="">Proyecto:</option>
	        			</select>
	        			<br>
	        			<select id="sprintList<%= hacker.id %>" class="form-control sprintList<%= hacker.id %>">
	        				<option value="">Sprint:</option>
	        			</select>
	        			<br>
						 <input type="text" id="timeSpent<%= hacker.id %>" class="form-control timeSpent<%= hacker.id %>" placeholder="Tiempo:" onkeypress="checkDec(this);">
	        			<div class="dropdown">
	        			<br>
			        	<button name="button" type="button" class="btn btn-default btnRegistrar<%= hacker.id %>"><strong>Registrar horas!</strong></button>
			        	<br>
			        	<br>
			        	<table class="table table-condensed">
				    	<% @works = Work.where("hacker_id = ? ", hacker.id)%>
				    	<% @works.each do |work| %>
				        	<tr>
				        	<td><%= work.sprint.name %></td><td><%= work.time %></td>
				        	</tr>
				    	<% end %>
				    	</table>
	    			</td>
		    <% end %>
		    </tr>
	</table>
<div/>
<script type="text/javascript">
	$( document ).ready(function() 
		{
			<% @hackers.each do |hacker| %>
				$(document).on('change', '.bpList<%= hacker.id %>', function (e) {
				var bp = $(this).val();
				var urlToCall = 'api/v1/projectbybps/?bpid='+bp;
				$.ajax({
	                type: "GET",
	                url: urlToCall,
	                dataType: 'json',
	                success: function(json) {
	                    var $el = $(".projectList<%= hacker.id %>");
	                    $el.empty(); // remove old options
	                    $el.append($("<option></option>")
	                            .attr("value", '').text('Proyecto:'));
	                    $.each(json, function(value, key) {
	                    	console.log(value);
	                    	console.log(key);
	                        $el.append($("<option></option>")
	                                .attr("value", key.id).text(key.name));
	                    });														
	                }
            	});
				});

				$(document).on('change', '.projectList<%= hacker.id %>', function (e) {
				var project = $(this).val();
				var urlToCall = 'api/v1/sprintbyprojects/?projectId='+project;
				$.ajax({
	                type: "GET",
	                url: urlToCall,
	                dataType: 'json',
	                success: function(json) {
	                    var $el = $(".sprintList<%= hacker.id %>");
	                    $el.empty(); // remove old options
	                    $el.append($("<option></option>")
	                            .attr("value", '').text('Sprint:'));
	                    $.each(json, function(value, key) {
	                    	console.log(value);
	                    	console.log(key);
	                        $el.append($("<option></option>")
	                                .attr("value", key.id).text(key.name));
	                    });														   
	                }
            	});
				});

				$(document).on('click', '.btnRegistrar<%= hacker.id %>', function (e) {
				console.log("ATASCADO 4 + <%= hacker.id %> + " + $(this).val());
				var timeSpent = document.getElementById('timeSpent<%= hacker.id %>');
				var sprint = document.getElementById('sprintList<%= hacker.id %>');
				var hacker = '<%= hacker.id %>';
				var workDate = '<%= params[:day] %>';
				console.log("TIEMPO REGISTRADO -- " + timeSpent.value);
				console.log("SPRINT -- " + sprint.value);
				console.log("HACKER -- " + hacker);
				console.log("FECHA -- " + workDate);
				$.ajax({
				  type: "POST",
				  url: "api/v1/works/",
				  data: { work: { date: workDate, time: timeSpent.value, sprint_id: sprint.value, hacker_id: hacker } },
				  dataType: 'json',
				  success: function(json) {
				  	console.log("EXITO, CHECA LA BD");
				  	location.reload(); 
				    return false
					},
				  error: function(json) {
				  	console.log("ERROR, CHECA QUE ROLLO");
				    return false
					}
				})
				});

			<% end %>

		}
	);
	function checkDec(el){
	 var ex = /^[0-9]+\.?[0-9]*$/;
	 if(ex.test(el.value)==false){
	   el.value = el.value.substring(0,el.value.length - 1);
	  }
	}
</script>